{% extends 'base_layout.html' %}

{% block content %}

<br><br><br><br>
<h1>OUR STORY</h1>
<p>Myshop.lk is the ideal one-stop online platform to experience a rewarding online shopping experience in Sri Lanka. Being the pioneers in showroom-based online businesses we officially started operations on June 29th 2015.</p>
<p>We are Sri Lanka&rsquo;s youngest and fastest growing e-commerce website and we were recently ranked as the 8th best e-commerce brand in Sri Lanka.</p>
<p>Myshop is focused on providing an excellent customer experience, ease-of-purchase, comprehensive customer care and a hassle-free shopping and returns experience. Our employees, technology and innovation come together every day to delight customers.</p>
<div class="wpb_column vc_column_container vc_col-sm-6">
<div class="vc_column-inner vc_custom_1457518924264">
<div class="wpb_wrapper">
<div class="wpb_text_column wpb_content_element  vc_custom_1546858044759">
<div class="wpb_wrapper">&nbsp;</div>
</div>
</div>
</div>
</div>
<div class="wpb_column vc_column_container vc_col-sm-6">
<div class="vc_column-inner vc_custom_1457518934943">
<div class="wpb_wrapper">
<div class="wpb_text_column wpb_content_element  vc_custom_1546858068568">
<div class="wpb_wrapper">
<p>&nbsp;</p>
</div>
</div>
</div>
</div>
</div>


{% endblock %}
